{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'playground/styles/base.css' %}">
    <title>All messages</title>
</head>
<body>
    <h1>All messages</h1>
    <h4>We present you... All messages from the QRL!</h4>
    <ul>
        {% for message_name in messages %}
            <li>{{ message_name.messageHash }}</li>
        {% endfor %}
    </ul>
</body>
</html>